# Kickstart script for Team 1 Server VM.

# version=DEVEL
# Set system authorization information.
auth --enableshadow --passalgo=sha512

# Install from CD/DVD.
cdrom

# Use non-interactive command-line installation mode.
cmdline
zerombr

# Disable the Setup Agent from running on first boot.
firstboot --disable

# Set keyboard layout, system language, and timezone.
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8
timezone America/New_York --isUtc

# Configure network information.
network  --bootproto=dhcp

# Set root password.
rootpw --iscrypted $6$FsEddRyZ4pVoEPHB$ZYakVMDTfMr51bKbQ4/9t2q/.BSbJgICrfW1YICB9dYS5LPiTEOXu6y4s9JYzFA4EfMf60gm6e3KskA4G9Vxv/

# Modify systemd services.
services --enabled="chronyd"

# Specify boot loader.
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda

# Clear and reconfigure partition information.
clearpart --all
part / --fstype="xfs" --size=7153
part /var --fstype="xfs" --size=1907
part swap --fstype="swap" --size=488

# Reboot system upon completion of installation process.
reboot

# Specify packages to install.
%packages
@^minimal
@core
chrony
kexec-tools

%end

# Set kernal crash dumping mechanism.
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

# Configure password policies for accounts configured during installation.
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty

%end

# Start %post section, log output, and install system updates and wget.
%post --log=/root/ks-output.log
/usr/bin/echo -e "Beginning Post-Installation Log...\n"
/usr/bin/echo -e "Installing system updates...\n"
/usr/bin/yum update -y
/usr/bin/echo -e "\nInstalling required packages command...\n"
/usr/bin/yum install wget openldap-clients nss-pam-ldapd unzip nfs-utils -y
/usr/bin/wget http://10.2.7.71/conf_files.zip
/usr/bin/unzip conf_files.zip
/usr/bin/cp -f ldap.conf /etc/openldap/ldap.conf
/usr/bin/cp -f nslcd.conf /etc/nslcd.conf
/usr/bin/cp -f nsswitch.conf /etc/nsswitch.conf
/bin/systemctl start nslcd
/bin/systemctl start slapd
/bin/systemctl enable nslcd
/bin/systemctl enable slapd
usr/sbin/authconfig --enableldapauth --update
/usr/bin/echo -e "10.2.7.71:/home /home\tnfs\tdefaults\t0 0" >> /etc/fstab
/bin/systemctl start nfs
/bin/systemctl enable nfs
/usr/bin/mount /home
/usr/bin/echo -e "\nEnd of Post-Installation Log."

%end

